# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# service binary
kava-proxy-service

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# coverage report converted to HTML
cover.html

# Dependency directories (remove the comment below to include it)
vendor/

# ignore editor files
.vscode/
.idea/

# ignore e2e test validator files
docker/shared/genesis.json
docker/shared/VALIDATOR_NODE_ID
