---
services:
  # run postgres for proxy service to store observability metrics
  postgres:
    image: postgres:15
    env_file: .env
    ports:
      - "${POSTGRES_HOST_PORT}:${POSTGRES_CONTAINER_PORT}"
    expose:
      - "${POSTGRES_CONTAINER_PORT}"
  # run redis for proxy service to cache responses
  redis:
    image: 'bitnami/redis:latest'
    env_file: .env
    ports:
      - "${REDIS_HOST_PORT}:${REDIS_CONTAINER_PORT}"
    expose:
      - "${REDIS_CONTAINER_PORT}"
  # run proxy service to observe, route, and scale requests to kava api endpoints
  proxy:
    build:
      dockerfile: ci.Dockerfile
    env_file: .env
    environment:
      PROXY_HEIGHT_BASED_ROUTING_ENABLED: "true"
      PROXY_SHARDED_ROUTING_ENABLED: "true"
      # use public testnet as backend origin server to avoid having
      # to self-host a beefy Github Action runner
      # to build and run a kava node each execution
      PROXY_BACKEND_HOST_URL_MAP: localhost:7777>https://evmrpcdata.internal.testnet.proxy.kava.io,localhost:7778>https://evmrpc.internal.testnet.proxy.kava.io
      PROXY_PRUNING_BACKEND_HOST_URL_MAP: localhost:7777>https://evmrpc.internal.testnet.proxy.kava.io
      # fake the shards by defining shards with existing backends
      PROXY_SHARD_BACKEND_HOST_URL_MAP: localhost:7777>10|https://evmrpcdata.internal.testnet.proxy.kava.io|20|https://evmrpcdata.internal.testnet.proxy.kava.io
      EVM_QUERY_SERVICE_URL: https://evmrpc.internal.testnet.proxy.kava.io
      METRIC_DATABASE_ENABLED: ${METRIC_DATABASE_ENABLED}
    ports:
      - "${PROXY_HOST_PORT}:${PROXY_CONTAINER_PORT}"
      - "${TEST_UNCONFIGURED_PROXY_PORT}:${PROXY_CONTAINER_PORT}"
      - "${PROXY_CONTAINER_EVM_RPC_PRUNING_PORT}:${PROXY_CONTAINER_PORT}"
      - "${PROXY_HOST_DEBUG_PORT}:${PROXY_CONTAINER_DEBUG_PORT}"
